<h1>Connection logs</h1>

<table class="table">
  <thead>
    <tr>
      <th>User</th>
      <th>Connection ID</th>
      <th>Action</th>
      <th>Date</th>
    </tr>
  </thead>

  <tbody>
    <% @connection_logs.each do |connection_log| %>
      <tr>
        <td><%= connection_log.user.email %></td>
        <td><%= connection_log.connection_id %></td>
        <td><%= connection_log.category_name %></td>
        <td><%= connection_log.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
