<h1>Users</h1>
<p><%= link_to 'Create user', new_user_path, class: "btn btn-primary" %>
<%= link_to 'View connection logs', connection_logs_path, class: "btn" %></p>

<table class="table">
  <thead>
    <tr>
      <th>Email</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td>
          <%= link_to 'Delete', user_path(user), data: {confirm: "Are you sure?"}, method: :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
