<% if object.errors.any? %>
  <div class="panel panel-danger">
    <div class="panel-heading">
      Form errors
    </div>

    <div class="panel-body">
      <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  </div>
<% end %>
