<%= render "shared/errors", object: @item %>

<%= form_for @item do |f| %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control", disabled: true %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_field :description, class: "form-control", disabled: true %>
  </div>

  <div class="form-group">
    <%= f.label :status %>
    <%= f.text_field :status, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :critical_level %>
    <%= f.text_field :critical_level, class: "form-control", disabled: true %>
  </div>
  
  <%= f.submit 'Save item' %>
<% end %>