<h1>Items</h1>
<p><%= link_to 'Create item', new_item_path, class: "btn btn-primary" %>
<%= link_to 'View item logs', '/items_logs', class: "btn" %></p>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th><%= link_to 'Category', sort: 'category' %></th>
      <th>Description</th>
      <th><%= link_to 'Status', sort: 'status' %></th>
      <th>Critical level<th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.category_name %></td>
        <td><%= item.description %></td>
        <td><%= item.status %></td>
        <td><%= item.critical_level %></td>
        <td>
          <%= link_to 'Edit', edit_item_path(item), class: "btn btn-default" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
