<h1>Item logs</h1>

<table class="table">
  <thead>
    <tr>
      <th>Item name</th>
      <th>User</th>
      <th>Amount</th>
      <th>+/-</th>
      <th>Date<th>
    </tr>
  </thead>

  <tbody>
    <% @versions.each do |version| %>
      <tr>
        <td><%= version.item.name %></td>
        <td><%= User.find(version.whodunnit.to_i).email %></td>
        <% if version.next %>
          <% diff = version.object[version.object.index("status: ")+8..version.object.index("\ncritical")].to_i - version.next.item.status %>
          <% if diff < 0 %>
            <td><%= diff.abs %></td>
            <td>-</td>
          <% else %>
            <td><%= diff %></td>
            <td>+</td>
          <% end %>
        <% else %>
          <% diff = version.item.status - version.object[version.object.index("status: ")+8..version.object.index("\ncritical")].to_i %>
          <% if diff < 0 %>
            <td><%= diff.abs %></td>
            <td>-</td>
          <% else %>
            <td><%= diff %></td>
            <td>+</td>
          <% end %>
        <% end %>
        <td><%= version.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
