<h1>User login</h1>

<%= flash_message(:alert) %>

<%= form_tag user_sessions_path do %>
  <div class="form-group">
    <%= label_tag :email %>
    <%= text_field_tag :email, nil ,class: "form-control" %>
  </div>

  <div class="form-group">
    <%= label_tag :password %>
    <%= password_field_tag :password, nil, class: "form-control" %>
  </div>

  <%= submit_tag 'Log in', class: "btn btn-primary" %>
<% end %>