<!DOCTYPE html>
<html>
<head>
  <title>Warehouse</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <meta charset="utf-8">
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="header">
    <div class="container">
      <h1 class="site-name"><%= link_to "Warehouse", root_path %></h1>
        <% if current_user %>
          <ul class="nav nav-pills pull-left">
            <% if false %>
              <li class="<%= "active" if current_page?(root_path) %>"><%= link_to "Domov", root_path %></li>
              <li class="<%= "active" if current_page?(groups_path) %>"><%= link_to "Moje triedy", groups_path %></li>
            <% end %>
          </ul>

          <ul class="nav nav-pills pull-right">
            <li><%= link_to current_user.email, '#' %></li>
            <li><%= link_to "Log out", user_session_path(1), method: :delete %></li>
          </ul>
        <% end %>
    </div>
  </div>

  <div class="main">
    <div class="container">
      <%= yield %>
    </div>
  </div>
</body>
</html>